<md-content flex-gt-sm layout-gt-sm="row" class="ma-trends-list">
    <md-sidenav class="md-sidenav-left" md-component-id="left" flex-gt-sm="35" flex-sm
                md-is-locked-open="$mdMedia('gt-md')">
        <md-content flex-gt-sm="65" flex-sm>

            <h5>Start Date</h5>
            <md-datepicker ng-model="partiesList.startDate" md-min-date="minDate" md-max-date="maxDate"
                           ng-required="true"></md-datepicker>
            <h5>Start Time</h5>
            <input ng-model="partiesList.startTime" md-min-date="minTime" md-max-date="maxTime" ng-required="true">

            <h5>End Date</h5>
            <md-datepicker ng-model="partiesList.endDate" md-min-date="minDate" md-max-date="maxDate"
                           ng-required="true"></md-datepicker>
            <h5>End Time</h5>
            <input ng-model="partiesList.endTime" md-min-date="minTime" md-max-date="maxTime" ng-required="true">

            <h5>Gender</h5>
            <select onchange="updateParams('gender', this.value);" onfocus="this.selectedIndex = -1;">
                <option value="All">All</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <h5>Min Age</h5>
            <md-select ng-model="partiesList.minAge">
                <div ng-repeat="item in partiesList.ages">
                    <md-option ng-value="item" ng-click="partiesList.updateData()">{{ item }}</md-option>
                </div>
            </md-select>

            <h5>Max Age</h5>
            <md-select ng-model="partiesList.maxAge">
                <div ng-repeat="item in partiesList.ages">
                    <md-option ng-value="item" ng-click="partiesList.updateData()">{{ item }}</md-option>
                </div>
            </md-select>

            <h5>Activities</h5>
            <div ng-repeat="item in partiesList.items">
                <md-checkbox ng-checked="partiesList.exists(item, partiesList.selected)"
                             ng-click="partiesList.toggle(item, partiesList.selected)">
                    {{ item }}
                </md-checkbox>
            </div>
        </md-content>
    </md-sidenav>

    <md-content flex-gt-sm="65" flex-sm>
        <div id="floating-panel">
            <button onclick="updateMap()">Update Data</button>
            <button onclick="changeGradient()">Change gradient</button>
            <button onclick="changeRadius()">Change radius</button>
            <button onclick="toggleHeatmap()">Toggle Heatmap</button>
        </div>

        <div id="map" style="width:100%; height: 500px;"></div>

        <div id="hc" style="margin: 0 auto; max-width: 100%; height: 350px;"></div>
        <div id="footer"></div>
    </md-content>
</md-content>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOvpVjC-0t4DKNO8Rt6lfIbux0_9X2FjE&libraries=visualization,places&callback=initMap">
</script>

<script src="https://code.highcharts.com"></script>

<script>
    var service;
    var data = [];
    var activeData = [];
    var genders = ["Male", "Female"];
    var activities = ["Date", "Friends", "Occasion", "Other"];
    var params = {
        startDate: new Date(), endDate: new Date(), gender: "All", minAge: 21, maxAge: 50, activity: "Friends"
    };

    function datareceived(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (x in results) {

                var newData = {};
                newData['geocode'] = results[x].geometry.location;
                newData['gender'] = genders[Math.floor(Math.random()*2)];
                newData['age'] = Math.floor(Math.random() * 40) + 21;
                newData['datetime'] = new Date();
                newData['activity'] = activities[Math.floor(Math.random()*4)];
                data.push(newData);
                updateMap(newData['geocode']);

            }
        }

    }
    function generateData() {

        let deltalat = (Math.random() - 0.5)*0.1;
        let deltalong = (Math.random() - 0.5)*0.1;
        let request = {
            location: {lat: 40.7831+deltalat, lng: -73.9712+deltalong}, types: ['bar'], radius:5000
        };

        service.nearbySearch(request, datareceived)

    }

    setInterval(function () {
        generateData();
    }, 3000);

    function updateParams(key, value) {
        params[key] = value;
        updateData();
    }

    function updateData() {
        activeData = [];
        for (i = 0; i < data.length; i++) {
            if ((data[i]['gender'] === params['gender'] || params['gender'] === "All") &&
                    data[i]['age'] >= params['minAge'] && data[i]['age'] <= params['maxAge']) {
                activeData.push(data[i]);
            }
        }

        reloadMap();
    }

    function updateMap(newData) {
        var mapData = heatmap.data;

        mapData.push(newData);

        heatmap.set("data", mapData);
        heatmap.setMap(map);
    }

    function reloadMap() {
        var mapData = heatmap.data;

        for (i = 0; i < mapData.length; i++) {
            mapData.pop();
        }

        for (i = 0; i < activeData.length; i++) {
            mapData.push(activeData[i]['geocode']);
        }

        console.log(mapData);

        heatmap.set("data", mapData);
        heatmap.setMap(map);
    }

    var series = [{
        name: 'John', data: [5, 3, 4, 7, 2]
    }, {
        name: 'Jane', data: [2, 2, 3, 2, 1]
    }, {
        name: 'Joe', data: [3, 4, 4, 2, 5]
    }];

    $(function () {
        $('#hc').highcharts({
            chart: {
                type: 'column'
            }, title: {
                text: 'Stacked column chart'
            }, xAxis: {
                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            }, yAxis: {
                min: 0, title: {
                    text: 'Total fruit consumption'
                }, stackLabels: {
                    enabled: true, style: {
                        fontWeight: 'bold', color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            }, legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            }, tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            }, plotOptions: {
                column: {
                    stacking: 'normal', dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            }, series: series
        });
    });

    var map, heatmap;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11, center: {lat: 40.7831, lng: -73.9712}
            // mapTypeId: google.maps.MapTypeId.SATELLITE
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: getInitialPoints(), radius: 20, map: map
        });
        service= new google.maps.places.PlacesService($('#footer').get(0));
    }

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = ['rgba(0, 255, 255, 0)', 'rgba(0, 255, 255, 1)', 'rgba(0, 191, 255, 1)', 'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)', 'rgba(0, 0, 255, 1)', 'rgba(0, 0, 223, 1)', 'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)', 'rgba(0, 0, 127, 1)', 'rgba(63, 0, 91, 1)', 'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)', 'rgba(255, 0, 0, 1)']
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    // Heatmap data: 500 Points
    function getInitialPoints() {
        return [new google.maps.LatLng(37.782551, -122.445368), new google.maps.LatLng(37.751266, -122.403355)];
    }



</script>
